# CONFIG DATABASE
DB_HOST=localhost
DB_NAME=n4music
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root123
DB_DRIVER=postgres
DB_TIMEZONE=+07:00

JWT_PRIVATE_KEY=keys/ecdsa.key
JWT_PUBLIC_KEY=keys/ecdsa.key

BCRYPT_SALT_ROUND=10

JWT_EXPIRES_IN='1d'
JWT_SECRET=


#LOGGER FILE
LOG_FATAL_PATH=logs/fatal-%DATE%.log
LOG_COMBINED_PATH=logs/combined-%DATE%.log
LOG_ERROR_PATH=logs/error-%DATE%.log
LOG_MAX_SIZE=1g
LOG_MAX_FILES=5d
LOG_ZIP_OLD_FILE=true
LOG_NAME_DATE_PATTERN=YYYYMMDD

# REDIS
REDIS_PORT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_DB=
REDIS_PREFIX=

# CONFIG APP
APP_NODE_ENV=dev
APP_PORT=3001
APP_PUBLIC_ENDPOINT=http://localhost:3001
DEFAULT_PASSWORD='123456a@'
OTP_EXPIRED_TIME=5d